<div class="container mt-5">
  <div class="text-center">
    <button type="button" style="background-color: #f872f8;" class="btn text-white px-5 py-2">
      <b>ADD NEW PATIENT </b>
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class="container w-50">
    <div class="input-group my-4 mr-5">
      <input type="text" class="form-control" placeholder="TYPE PATIENT ID">
      <div class="input-group-append">
        <span class="input-group-text text-white">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>
  </div>
  
 
  <table class="table table-bordered text-center">
    <thead>
      <tr class="text-muted" style="background-color: #d8d1d1;">
        <th>PATIENT ID</th>
        <th>SCAN DATE</th>
        <th>REPORT STATUS <i class="fa fa-filter"></i></th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>test_123</td>
        <td class="text-muted">02-Jan-2020</td>
        <td class="text-muted">Available</td>
        <td style="color: #f872f8;">
          <i class="fa fa-cloud-download fa-lg"></i>
          <i class="fa fa-download fa-lg mx-3"></i>
          <span class="fa-stack">
            <small>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
            </small>            
          </span>
        </td>
      </tr>
      <tr>
      	<td>test_123</td>
        <td class="text-muted">02-Jan-2020</td>
        <td class="text-muted">Available</td>
        <td style="color: #f872f8;">
          <i class="fa fa-cloud-download fa-lg"></i>
          <i class="fa fa-download fa-lg mx-3"></i>
          <span class="fa-stack">
            <small>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
            </small>            
          </span>
        </td>
      </tr>
      <tr>
      	<td>test_123</td>
        <td class="text-muted">02-Jan-2020</td>
        <td class="text-muted">Available</td>
        <td style="color: #f872f8;">
          <i class="fa fa-cloud-download fa-lg"></i>
          <i class="fa fa-download fa-lg mx-3"></i>
          <span class="fa-stack">
            <small>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
            </small>            
          </span>
        </td>
      </tr>
      <tr>
      	<td>test_123</td>
        <td class="text-muted">02-Jan-2020</td>
        <td class="text-muted">Available</td>
        <td style="color: #f872f8;">
          <i class="fa fa-cloud-download fa-lg"></i>
          <i class="fa fa-download fa-lg mx-3"></i>
          <span class="fa-stack">
            <small>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
            </small>            
          </span>
        </td>
      </tr>
      <tr>
      	<td>test_123</td>
        <td class="text-muted">02-Jan-2020</td>
        <td class="text-muted">Available</td>
        <td style="color: #f872f8;">
          <i class="fa fa-cloud-download fa-lg"></i>
          <i class="fa fa-download fa-lg mx-3"></i>
          <span class="fa-stack">
            <small>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
            </small>            
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <nav >
    <ul class="pagination justify-content-center">
      <li class="page-item mr-5">
        <a class="page-link"  aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link"  aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link"><</a></li>
      <li class="page-item"><a class="page-link">1</a></li>
      <li class="page-item"><a class="page-link">2</a></li>
      <li class="page-item"><a class="page-link">3</a></li>
      <li class="page-item"><a class="page-link">4</a></li>
      <li class="page-item"><a class="page-link">5</a></li>
      <li class="page-item"><a class="page-link">></a></li>
      <li class="page-item">
        <a class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      <li class="page-item ml-5">
        <a class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

